.map {
    margin: 20px;
    border-radius: 10px;
    width: 45%;
}
.map iframe{
    filter: grayscale(100%);
    border-radius: 12px;
    margin-top: 20px;
    margin: 20px;
    object-fit: contain;
    height: 80%;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    padding: 50px;
}
.contact{
    background-color: rgb(14, 12, 8);
    width: 100%;
    margin-top: auto;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
h2{
    color: antiquewhite;
    margin-top: 20px ;
    margin-left: 20px;
}
.message{
    width: 50%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
input, textarea{
    width: 40%;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    color: azure;
    border: 2px solid rgb(50, 50, 49);
    font: 1em sans-serif;
    background-color: rgb(50, 50, 49);
}
input:focus, textarea:focus{
    outline: none;
    border: 3px solid rgb(2, 28, 79 );
    background-color: rgb(50, 50, 49);
}
fieldset{
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 100%;
}
textarea{
    width: 90%;
    height: 100px;
}
button{
    width: 20%;
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
    border: 2px solid;
    color: azure;
    background-color: rgb(50, 50, 49);
}
button:hover{
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(2, 28, 79 );
    color: black;
    cursor: pointer;
}